<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>

	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="questionnaire" type="Questionnaire.Configuration.QuestionnaireConfig, Questionnaire.Configuration" />
	</configSections>

	<appSettings configSource="App.Settings.config" />
	<connectionStrings configSource="App.Connections.config" />
	<questionnaire configSource="App.Questionnaire.config" />
</configuration>