
@{
    Layout = null;
}

<div class="alert alert-danger fade in general-error-container">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong class="error-title"></strong>
    <span class="error-content"></span>
</div>