@model LoaderModel

@{
	Layout = null;
}

<div id="@Model.LoaderId" class="loader-root">
	<div class="loader-container">
		<div class="loader-child">
			<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
		</div>
	</div>
</div>