.table-container {
  width: 100%;
}
.table-container table.cl-1 tr td {
  width: 100%;
}
.table-container table.cl-2 tr td {
  width: 50%;
}
.table-container table.cl-3 tr td {
  width: 33.33333333%;
}
.table-container table.cl-4 tr td {
  width: 25%;
}
.table-container table.cl-5 tr td {
  width: 20%;
}
.table-container table.cl-6 tr td {
  width: 16.66666667%;
}
.table-container table.cl-7 tr td {
  width: 14.28571429%;
}
.table-container.no-search .search-container {
  display: none;
}
.table-container .search-container {
  float: right;
}
.table-container .search-container label {
  margin-right: 8px;
}
.table-container .search-container input[type=text] {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 5px;
  width: 250px;
  height: 35px;
  margin-bottom: 6px;
}
.table-container table {
  width: 100%;
}
.table-container table thead tr:hover,
.table-container table tfoot tr:hover {
  background-color: transparent;
}
.table-container table tfoot tr {
  font-style: italic;
  border-bottom: none;
}
.table-container table tr {
  border-bottom: 1px solid #cdcdcd;
}
.table-container table tr td,
.table-container table tr th {
  padding: 8px;
}
.table-container table tr:nth-child(even) {
  background-color: #f3f3f3;
}
.table-container table tr:hover {
  background-color: #ebebeb;
}
.table-container .pagination {
  float: right;
}
.table-container .pagination li a {
  cursor: pointer;
}