.tree-root {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 400px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tree-root li {
  padding: 6px 15px;
  border-bottom: 1px solid #ddd;
}
.tree-root li.child-0 {
  padding-left: 20px;
}
.tree-root li.child-0 .item-caption {
  width: 330px;
}
.tree-root li.child-1 {
  padding-left: 40px;
}
.tree-root li.child-1 .item-caption {
  width: 310px;
}
.tree-root li.child-2 {
  padding-left: 60px;
}
.tree-root li.child-2 .item-caption {
  width: 290px;
}
.tree-root li.child-3 {
  padding-left: 80px;
}
.tree-root li.child-3 .item-caption {
  width: 270px;
}
.tree-root li.child-4 {
  padding-left: 100px;
}
.tree-root li.child-4 .item-caption {
  width: 250px;
}
.tree-root li.child-5 {
  padding-left: 120px;
}
.tree-root li.child-5 .item-caption {
  width: 230px;
}
.tree-root li.child-6 {
  padding-left: 140px;
}
.tree-root li.child-6 .item-caption {
  width: 210px;
}
.tree-root li.child-7 {
  padding-left: 160px;
}
.tree-root li.child-7 .item-caption {
  width: 190px;
}
.tree-root li.child-8 {
  padding-left: 180px;
}
.tree-root li.child-8 .item-caption {
  width: 170px;
}
.tree-root li.child-9 {
  padding-left: 200px;
}
.tree-root li.child-9 .item-caption {
  width: 150px;
}
.tree-root li.child-10 {
  padding-left: 220px;
}
.tree-root li.child-10 .item-caption {
  width: 130px;
}
.tree-root li.child-11 {
  padding-left: 240px;
}
.tree-root li.child-11 .item-caption {
  width: 110px;
}
.tree-root li.child-12 {
  padding-left: 260px;
}
.tree-root li.child-12 .item-caption {
  width: 90px;
}
.tree-root li.child-13 {
  padding-left: 280px;
}
.tree-root li.child-13 .item-caption {
  width: 70px;
}
.tree-root li.child-14 {
  padding-left: 300px;
}
.tree-root li.child-14 .item-caption {
  width: 50px;
}
.tree-root li.child-15 {
  padding-left: 320px;
}
.tree-root li.child-15 .item-caption {
  width: 30px;
}
.tree-root li.child-16 {
  padding-left: 340px;
}
.tree-root li.child-16 .item-caption {
  width: 10px;
}
.tree-root li.child-17 {
  padding-left: 360px;
}
.tree-root li.child-17 .item-caption {
  width: -10px;
}
.tree-root li.child-18 {
  padding-left: 380px;
}
.tree-root li.child-18 .item-caption {
  width: -30px;
}
.tree-root li.child-19 {
  padding-left: 400px;
}
.tree-root li.child-19 .item-caption {
  width: -50px;
}
.tree-root li.child-20 {
  padding-left: 420px;
}
.tree-root li.child-20 .item-caption {
  width: -70px;
}
.tree-root li .icon-container {
  width: 14px;
  height: 14px;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 2px;
  display: inline-block;
  cursor: pointer;
}
.tree-root li .item-caption {
  vertical-align: top;
  display: inline-block;
}
.tree-root li:hover {
  background-color: #F5F5F5;
}
.tree-root li:last-child {
  border-bottom: none;
}